body{
    background-color: antiquewhite;
    background-image: url('dice.jpg');
}
.hero {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px;
    
}
/* .view{
    background-image: url('dice.jpg');
} */

.features {
    padding: 50px 0;
    color: white;
}

.feature-item {
    text-align: center;
    margin-bottom: 30px;
}

.feature-item i {
    font-size: 48px;
    margin-bottom: 10px;
}
#about{
    padding:100px;
    /* background-image: url('comp.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;

}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    
}